WebSite_Semana11_Lunes/Service References/ServicioNegocios/ServicioContrato.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioContrato" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25152/ServicioContrato.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25152/ServicioContrato.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25152/ServicioContrato.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioContrato_Clientes_InputMessage">
    <wsdl:part name="parameters" element="tns:Clientes" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Clientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Paises_InputMessage">
    <wsdl:part name="parameters" element="tns:Paises" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Paises_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_ClientesxPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientesxPais" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_ClientesxPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesxPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IServicioContrato_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioContrato">
    <wsdl:operation name="Clientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContrato/Clientes" message="tns:IServicioContrato_Clientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContrato/ClientesResponse" message="tns:IServicioContrato_Clientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Paises">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContrato/Paises" message="tns:IServicioContrato_Paises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContrato/PaisesResponse" message="tns:IServicioContrato_Paises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientesxPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContrato/ClientesxPais" message="tns:IServicioContrato_ClientesxPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContrato/ClientesxPaisResponse" message="tns:IServicioContrato_ClientesxPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContrato/Agregar" message="tns:IServicioContrato_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContrato/AgregarResponse" message="tns:IServicioContrato_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContrato/Actualizar" message="tns:IServicioContrato_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContrato/ActualizarResponse" message="tns:IServicioContrato_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContrato/Eliminar" message="tns:IServicioContrato_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContrato/EliminarResponse" message="tns:IServicioContrato_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioContrato" type="tns:IServicioContrato">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clientes">
      <soap:operation soapAction="http://tempuri.org/IServicioContrato/Clientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paises">
      <soap:operation soapAction="http://tempuri.org/IServicioContrato/Paises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesxPais">
      <soap:operation soapAction="http://tempuri.org/IServicioContrato/ClientesxPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IServicioContrato/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IServicioContrato/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IServicioContrato/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioContrato">
    <wsdl:port name="BasicHttpBinding_IServicioContrato" binding="tns:BasicHttpBinding_IServicioContrato">
      <soap:address location="http://localhost:25152/ServicioContrato.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>